---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const pageHead = "Behind The Coder | About Me";

const identity = {
    firstName: "Ricardo",
    lastName: "Reyes",
    country: "USA",
    occupation: "Freeelance Software Engineer",
    hobbies: ["programming", "Collectables", "Gaming"],
};

const skills = ["HTML", "CSS", "React", "Astro", "MySQL", "Bootstrap", "Tailwind"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle = {pageTitle} pageHead = {pageHead}>
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and i work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
</BaseLayout>
    </body>
</html>